$font-white: #ffff;
$font-white-blur: #d8d6d6;
$font-black: #000000;
$background-dark: #001529;
$background-white: #ffff;
$background-light-gray: rgb(235, 234, 234);
$blue-1: rgb(111, 186, 252);
$blue-2: rgb(78, 171, 253);
