@import 'mixins';
.rate-us {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-width: 80em;
    border: 0px solid rgb(231, 231, 231);
    border-radius: 4px;
    font-size: 14px;

    .rate-ui {
        
        &__head {
            padding: 8px;
            font-size: 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        &__body {
            padding: 8px;

            .rate-item {
                width: 100%;
                display: flex;
                // flex-wrap: wrap;
                line-height: 1.75;
                margin-bottom: 8px;
                @include respond-to(mobile) {
                    display: block;
                }

                &__label {
                    word-break: normal;
                    flex-grow: 1;
                    min-width: 140px;
                    // max-width: 600px;
                    padding-right: 8px;
                }

                &__icons {
                    width: 140px;
                    min-width: 140px;
                }

            }
        }

        &__foot {
            padding: 8px;
        }
    } 

    .rate-result {
        padding: 8px;
        text-align: center;
        &__smile {
            text-align: center;

            span {
                color: #1677ff;
                font-size: 56px;
            }
        }
        &__content {
            .title {
                font-size: 20px;
            }
            .subtitle {
                color: rgba(0, 0, 0, 0.45);
            }
        }
    }
}
