$font-white: #ffff;
$font-white-blur: #d8d6d6;
$font-black: #000000;
$background-dark: #001529;
$background-white: #ffff;
$background-light-gray: rgb(235, 234, 234);
$blue-1: rgb(111, 186, 252);
// $blue-2: rgb(78, 171, 253);

$blue-2: rgb(78, 171, 253);
$blue-3: rgba(2, 2, 126, 0.795);

$cyan-1: #e6fffb;
$cyan-7: #08979c;
$cyan-9: #00474f;

$blue-1: #e6f4ff;
$blue-6: #1677ff;
$blue-9: #002c8c;

$gray-4: #f0f0f0;
$gray-6: #bfbfbf;
$gray-9: #434343;

$green-9: #135200;
